 


.searchbar_parent {

    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #0000;
    align-items: center;
} 


.searchbar{
    text-align: center;
    width: auto;
    display: flex;
    flex-direction: row;
}

